body, html{
    height: 100%;
    display: grid;
    background-color: black;
    color: red;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-font-smoothing: auto;
}
.normalfont{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#board {
    position: relative;
    z-index: 1;
    height: 100%;
    margin: auto;
}

.grid-container {
    z-index: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    display: grid;
    grid-template-areas:
      'header'
      'main';
}

.h1{
    font-family: 'Teko', sans-serif;
    font-size: 24pt;
}

.info{
    min-width: 417px;
    width: 100%;
    
}

#infoTable{
    z-index: 1;
    height: 50px;
    margin: auto;
}

.playarea{
    z-index: 1;
    margin-top: -10px;
    grid-area: main; 
}

#myTable{
    z-index: 1;
    width: 100%;
    background-image: url("./img/radar4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

td {
    border: solid 1px limegreen;
    text-align: center;
}

td.clickable{
    font-size: 14pt;
}

td#sunkShips, td#score, td#bombsUser{
    width: auto;
}


tr#info td{
    background-color: black;
    border: solid black;
    margin-right: 20px;
}

.hit{
      background: url("./img/burningShip.png") no-repeat center center;
}
#abombCSS1 {
    z-index: 3;
    position: absolute;
    width:195px;
    height:192px;
    left: -4000px;
    top: -4000px;
}
#abombCSS2 {
    z-index: 3;
    position: absolute;
    width:195px;
    height:192px;
    left: -4000px;
    top: -4000px;
}
.shot {
    background: url("./img/basic_explosion_55.gif") no-repeat center center;
}
.bombUsed {
    background: url("./img/explosion2.gif") no-repeat center center;
    background-size: 50px;
}
.bomb {
    background: url("./img/bomb.png") no-repeat center center;
    background-size: 50px;
}
.atomBomb {
    background: url("./img/atomBomb.png") no-repeat center center;
    background-size: 50px;
}

#header {
    text-align: center;
}
#hiddenHeader{
    display: none;
}
button {
    padding: 10px 24px;
    background: black;
    color: white;
    border: 1px solid limegreen;
    display: inline-block;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: 'Teko', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 30px;
}

p {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9999;

}

.modal-content{
    width: 300px;
    height: 150x;
    background-color: black;
    border: 1px solid limegreen;
    text-align: center;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 25px;
    transform: rotate(45deg);
}

#special-bombs-placeholder {
    display: flex;
    align-items: center;
}

#cluster-bomb {
    height: 50px;
    width: 50px;
    margin-right: 16px;
}

.clusterButtonUp{
    background: url("./img/clusterButtonUp.png") no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    border: 0px;
}
.clusterButtonDown{
    background: url("./img/clusterButtonDown.png") no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    border: 0px;
}

.aButtonUp{
    background: url("./img/aBomRed70x70.png") no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    border: 0px;
    outline: none;
    
}
.aButtonDown{
    background: url("./img/aBomDown70x70.png") no-repeat center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    border: 0px;
    outline: none;
    
}

.hidden{
    display: none;
}

#msg-placeholder{
    margin-left: 40px;
}